[submodule "external/acl"]
	path = external/acl
	url = https://github.com/nfrechette/acl.git
[submodule "tools/gltf_viewer"]
	path = tools/gltf_viewer
	url = https://github.com/nfrechette/three-gltf-viewer.git
